<div class="container">
<p id="notice"><%= notice %></p>

<h1>Gardens</h1>

<div class="cards">
  <% @gardens.each do |garden|%>
    <div>
      <%= link_to garden_path(garden) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= garden.banner_url %>')">
          <p><%= garden.name %></p>
        </div>
      <% end %>
        <%= link_to 'Edit', edit_garden_path(garden) %>
        <%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>
</div>

<br>

<%= link_to 'New Garden', new_garden_path, class: "btn btn-primary" %>


</div>
