<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-6 col-md-8">
    <div class="cards my-3">
        <% @plants.each do |plant| %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
              <%= plant.name %>
              <%= link_to "+", plant_path(plant), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
              <div class="card-tags">
                <%= link_to plant_tag_path(plant), method: :delete do %>
                <!-- plant_tag DELETE /plant_tags/:id(.:format) -->
                  <% plant.tags.each do |tag| %>
                    <span><%= tag.name %></span>
                  <% end %>
                <% end %>
                <%= link_to "+", new_plant_plant_tag_path(plant) %>
              </div>
            </div>
        <% end %>
    </div>
  </div>
    <div class="col-6 col-md-4">
      <div class="border my-3 p-3 rounded">
        <h4>Add a plant</h4>
        <%= simple_form_for [@garden, @plant] do |f| %>
          <%= f.input :name, placeholder: "Palm tree" %>
          <%= f.input :image_url, placeholder: "https://some_nice_image_found_on_google.jpg" %>
          <%= f.submit "Add", class: "btn btn-primary my-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
